@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?tqs491');
    src:  url('fonts/icomoon.eot?tqs491#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?tqs491') format('truetype'),
    url('fonts/icomoon.woff?tqs491') format('woff'),
    url('fonts/icomoon.svg?tqs491#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-diskette:before {
    content: "\e949";
}
.icon-upload-cv:before {
    content: "\e94a";
}
.icon-verify-cv:before {
    content: "\e94b";
}
.icon-change-badge .path1:before {
    content: "\e947";
    color: rgb(0, 0, 0);
}
.icon-change-badge .path2:before {
    content: "\e948";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-fill-medal:before {
    content: "\e946";
    color: #ffba00;
}
.icon-silver-medal .path1:before {
    content: "\e985";
    color: rgb(0, 130, 255);
}
.icon-silver-medal .path2:before {
    content: "\e986";
    margin-left: -1em;
    color: rgb(0, 130, 255);
}
.icon-silver-medal .path3:before {
    content: "\e987";
    margin-left: -1em;
    color: rgb(182, 177, 177);
}
.icon-silver-medal .path4:before {
    content: "\e988";
    margin-left: -1em;
    color: rgb(189, 188, 182);
}
.icon-gold-medal .path1:before {
    content: "\e989";
    color: rgb(0, 130, 255);
}
.icon-gold-medal .path2:before {
    content: "\e98a";
    margin-left: -1em;
    color: rgb(0, 130, 255);
}
.icon-gold-medal .path3:before {
    content: "\e98b";
    margin-left: -1em;
    color: rgb(239, 199, 94);
}
.icon-gold-medal .path4:before {
    content: "\e98c";
    margin-left: -1em;
    color: rgb(215, 165, 16);
}
.icon-platinum-medal .path1:before {
    content: "\e98d";
    color: rgb(0, 130, 255);
}
.icon-platinum-medal .path2:before {
    content: "\e98e";
    margin-left: -1em;
    color: rgb(0, 130, 255);
}
.icon-platinum-medal .path3:before {
    content: "\e98f";
    margin-left: -1em;
    color: rgb(229, 228, 226);
}
.icon-platinum-medal .path4:before {
    content: "\e990";
    margin-left: -1em;
    color: rgb(206, 205, 202);
}
.icon-basic-medal:before {
    content: "\e980";
}
.icon-recomend-medal:before {
    content: "\e981";
}
.icon-advance-medal:before {
    content: "\e982";
}
.icon-new-advance-medal:before {
    content: "\e983";
}
.icon-standard-medal:before {
    content: "\e984";
}
.icon-apple:before {
    content: "\e943";
}
.icon-google-play:before {
    content: "\e944";
}
.icon-bell-b:before {
    content: "\e945";
}
.icon-c-support:before {
    content: "\e93e";
}
.icon-twitter-b:before {
    content: "\e93f";
}
.icon-facebook-b:before {
    content: "\e940";
}
.icon-linkedin-b:before {
    content: "\e941";
}
.icon-google-plus-b:before {
    content: "\e942";
}
.icon-telephone:before {
    content: "\e93c";
}
.icon-address-area:before {
    content: "\e93d";
}
.icon-coins:before {
    content: "\e93b";
}
.icon-check:before {
    content: "\e938";
}
.icon-exclamation:before {
    content: "\e939";
}
.icon-money:before {
    content: "\e93a";
}
.icon-king:before {
    content: "\e937";
}
.icon-search:before {
    content: "\e934";
}
.icon-four-boxes:before {
    content: "\e935";
}
.icon-funnel:before {
    content: "\e936";
}
.icon-new-rate:before {
    content: "\e933";
}
.icon-list:before {
    content: "\e931";
}
.icon-x3-grid:before {
    content: "\e932";
}
.icon-video-up:before {
    content: "\e92e";
}
.icon-slide-up:before {
    content: "\e92f";
}
.icon-image-up:before {
    content: "\e930";
}
.icon-right-quote:before {
    content: "\e92b";
}
.icon-curly-brackets:before {
    content: "\e92c";
}
.icon-optimised:before {
    content: "\e92d";
}
.icon-bold-text:before {
    content: "\e924";
}
.icon-para:before {
    content: "\e925";
}
.icon-link-text:before {
    content: "\e926";
}
.icon-number-list:before {
    content: "\e927";
}
.icon-bullet-list:before {
    content: "\e928";
}
.icon-underlined-text:before {
    content: "\e929";
}
.icon-italic-text:before {
    content: "\e92a";
}
.icon-up-photo:before {
    content: "\e923";
    color: #7c7c7c;
}
.icon-bin:before {
    content: "\e920";
}
.icon-fit-screen:before {
    content: "\e921";
}
.icon-full-screen:before {
    content: "\e922";
}
.icon-related-jobs:before {
    content: "\e91c";
}
.icon-resources:before {
    content: "\e91d";
}
.icon-membership:before {
    content: "\e91e";
}
.icon-question:before {
    content: "\e91f";
}
.icon-support:before {
    content: "\e91a";
}
.icon-multi-channel:before {
    content: "\e91b";
}
.icon-dashboard-meter:before {
    content: "\e919";
}
.icon-bookmark:before {
    content: "\e918";
}
.icon-comment:before {
    content: "\e914";
}
.icon-thumb:before {
    content: "\e915";
}
.icon-flag:before {
    content: "\e916";
}
.icon-reply-to:before {
    content: "\e917";
}
.icon-square:before {
    content: "\e912";
}
.icon-lines:before {
    content: "\e913";
}
.icon-reply:before {
    content: "\e90f";
}
.icon-up:before {
    content: "\e910";
}
.icon-download:before {
    content: "\e911";
}
.icon-profile:before {
    content: "\e90b";
}
.icon-settings:before {
    content: "\e90c";
}
.icon-link:before {
    content: "\e90d";
}
.icon-logout:before {
    content: "\e90e";
}
.icon-delete:before {
    content: "\e908";
    color: #7b7b7b;
}
.icon-edit:before {
    content: "\e909";
    color: #7c7c7c;
}
.icon-datepick:before {
    content: "\e90a";
    color: #7b7b7b;
}
.icon-heart-fill:before {
    content: "\e904";
}
.icon-heart-stroke:before {
    content: "\e905";
}
.icon-loc-icon-svg:before {
    content: "\e906";
}
.icon-mail-icon-svg:before {
    content: "\e907";
}
.icon-bell:before {
    content: "\e900";
}
.icon-clock:before {
    content: "\e901";
}
.icon-mail:before {
    content: "\e902";
}
.icon-small-arrow:before {
    content: "\e903";
}
